<mdcps-base-form [baseFormGroup]="employmentForm" (next)="onSubmit($event)" [config]="{nextBtn: true, nextBtnLabel: 'Social Interests'}"
  [formGroup]="employmentForm">
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Are you disabled preventing you from working?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="workDisabled"> &nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="workDisabled"> &nbsp;No
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="ssi" formControlName="workDisabled"> &nbsp;SSI
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="SSA" formControlName="workDisabled"> &nbsp;SSA
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pt-2 pt-md-0">
      <label for="employment.explainWorkDisabled">Explain:</label>
      <input type="tel" class="form-control" id="employment.explainWorkDisabled" placeholder="Explain Work Disabled" formControlName="explainWorkDisabled">
    </div>
  </div>
  <!-- form-row -->
  <!-- Held a Job -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">Have you ever had a job?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="heldJob"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="heldJob"> No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Job Skills -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">Job Skills?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="childcare" formControlName="jobSkills"> &nbsp;Child Care
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="foodservices" formControlName="jobSkills"> &nbsp;Food Services
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="healthcare" formControlName="jobSkills"> &nbsp;Health Care
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="clerical" formControlName="jobSkills"> &nbsp;Clerical
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="mechanical" formControlName="jobSkills"> &nbsp;Mechanical
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="electrical" formControlName="jobSkills"> &nbsp;Electrical
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="sales" formControlName="jobSkills"> &nbsp;Sales
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="clerical" formControlName="jobSkills"> &nbsp;Customer Service
          </label>
        </div>
        <br/>
        <div class="form-check form-check-inline">
          <div class="row">
            <div class="col-6">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="other" formControlName="jobSkills"> &nbsp;Other
              </label>
            </div>
            <div class="col-6">
              <input type="text" class="form-check-input" formControlName="otherJobSkills">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-4">
      <label class="col-form-label">Are you employed?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="parttime" formControlName="employed"> &nbsp;Part-time
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="employed"> &nbsp;Full-time
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="employed"> &nbsp;No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 pt-2 pt-md-0">
      <label class="col-form-label">If yes, how long?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="zerotosix" formControlName="evictedHowlong"> 0 - 6 months
          </label>
        </div>
        <div class="form-check form-check-inline pl-2">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="sixtotwelve" formControlName="evictedHowlong"> 6 - 12 months
          </label>
        </div>
        <br/>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="twelvetoeighteen" formControlName="evictedHowlong"> 12 - 18 months
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="eighteentotwentyfour" formControlName="evictedHowlong"> 18 - 24 months
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 pt-2 pt-md-0">
      <label class="col-form-label">If yes, in employee's benefit program?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="inBenefitProgram"> &nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline pl-2">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="inBenefitProgram"> &nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 pt-2 pt-md-0">
      <label class="col-form-label">Hourly Rate:</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="725to10" formControlName="hourlyRate"> $7.25-$10.00
          </label>
        </div>
        <div class="form-check form-check-inline pl-3">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="10to15" formControlName="hourlyRate"> $10.00-$15.00
          </label>
        </div>
        <br/>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="15to20" formControlName="hourlyRate"> $15.00-$20.00
          </label>
        </div>
        <div class="form-check form-check-inline">
          <div class="row">
            <div class="col-6">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" value="other" formControlName="hourlyRate"> &nbsp;Other
              </label>
            </div>
            <div class="col-6">
              <input type="text" class="form-check-input" formControlName="otherHourlyRate">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
</mdcps-base-form>
