<mdcps-base-form [baseFormGroup]="documentsForm" (next)="onNext($event)" [config]="config"
  [formGroup]="documentsForm" (previous)="onPrevious($event)">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Received Documents</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of documentsList">
            <td class="mdcps-fixed-col">{{doc.desc}}</td>
            <td class="mdcps-fixed-col">
              <mat-slide-toggle [color]="color" (change)="onToggle($event, doc.inputName)" [formControlName]="doc.optionName" [labelPosition]="'before'">
                  <span class="badge mdcps-badge" [ngClass]="(documentsForm?.get(doc.optionName)?.value) ? 'badge-success': 'badge-danger'">
                    {{ (documentsForm?.get(doc.optionName)?.value) ? 'Yes' : 'No' }}
                  </span>
              </mat-slide-toggle>
              <div class="mdcps-docs-reason" *ngIf="!(documentsForm?.get(doc.optionName)?.value)">
                  Please explain:
                  <input class="form-control form-control-sm" [formControlName]="doc.inputName">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mdcps-base-form>