<mdcps-base-form [baseFormGroup]="documentsForm" (next)="onSubmit($event)" [config]="{nextBtn: true, nextBtnLabel: 'Review & Sign'}"
  [formGroup]="documentsForm">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Received Documents</th>
            <th>Status</th>
            <th>If no, explain</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              His/her original Birth Certificate
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="birthCertificate"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="birthCertificate"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noBirthCertificate">
            </td>
          </tr>
          <tr>
            <td>
              His/her original Social Security Card
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="socialSecurity"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="socialSecurity"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noSocialSecurity">
            </td>
          </tr>
          <tr>
            <td>
              Medicaid Card
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="medicaidCard"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="medicaidCard"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noMedicaidCard">
            </td>
          </tr>
          <tr>
            <td>
              His/her original State I.D. or Drivers License
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="driversLicense"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="driversLicense"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noDriversLicense">
            </td>
          </tr>
          <tr>
            <td>
              Court Orders
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="courtOrders"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="courtOrders"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noCourtOrders">
            </td>
          </tr>
          <tr>
            <td>
              Education Documents (report card etc.)
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="educationDocuments"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="educationDocuments"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noEducationDocuments">
            </td>
          </tr>
          <tr>
            <td>
              Original Death Certificates (if parents are deceased) </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="deathCertificates"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="deathCertificates"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noDeathCertificates">
            </td>
          </tr>
          <tr>
            <td>
              Original Documentation of citizenship or naturalization if applicable.
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="citizenshipDocuments"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="citizenshipDocuments"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noCitizenshipDocuments">
            </td>
          </tr>
          <tr>
            <td>
              Medical/immunization records
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="medicalRecords"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="medicalRecords"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noMedicalRecords">
            </td>
          </tr>
          <tr>
            <td>
              Religious documents and Information
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="religiousDocuments"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="religiousDocuments"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noReligiousDocuments">
            </td>
          </tr>
          <tr>
            <td>
              List of known relatives with relationship and contact information.
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="relativesInformation"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="relativesInformation"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noRelativesInformation">
            </td>
          </tr>
          <tr>
            <td>
              Previous placement information
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="previousPlacementInfo"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="previousPlacementInfo"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noPreviousPlacementInfo">
            </td>
          </tr>
          <tr>
            <td>
              Passport (if applicable)
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="passport"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="passport"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noPassport">
            </td>
          </tr>
          <tr>
            <td>
              Photographs (if applicable)
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="photographs"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="photographs"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noPhotographs">
            </td>
          </tr>
          <tr>
            <td>
              Resource Guide
            </td>
            <td>
              <fieldset class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="yes" formControlName="resourceGuide"> &nbsp;&nbsp;Yes
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="no" formControlName="resourceGuide"> &nbsp;&nbsp;No
                  </label>
                </div>
              </fieldset>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="noResourceGuide">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- form-row -->
  <hr/>
</mdcps-base-form>
