<mdcps-base-form [baseFormGroup]="healthForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)" [formGroup]="healthForm">
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="health.medicalIssues">Do you have any medical issues to address?</label>
      <textarea type="tel" class="form-control" rows="4" id="health.medicalIssues" formControlName="medicalIssues" placeholder="Medical Issues?"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Have you ever witnessed or experienced a traumatic event? </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="hasTraumaticEvent"> &nbsp;&nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="hasTraumaticEvent"> &nbsp;&nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label for="health.plannedattendance" class="pr-2">
        Have you ever been the victim of any of the following types of abuse? </label>
      <br/>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="physical" formControlName="isVictimPhysical"> &nbsp;Physical
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="emotional" formControlName="isVictimEmotional"> &nbsp;Emotional
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="sexual" formControlName="isVictimSexual"> &nbsp;Sexual
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="neglect" formControlName="isVictimNeglect"> &nbsp;Neglect
          </label>
        </div>
        <div class="form-check">
          <div class="row">
            <div class="col-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input form-check-input-inline" value="other" formControlName="isVictimOther"> &nbsp;Other
              </label>
            </div>
            <div class="col-4">
              <input type="text" class="form-check-input" formControlName="victimOtherText">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label>When was your last exam?</label>
    </div>
    <!-- col-12 -->
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="health.dental">Dental </label>
      <input type="text" class="form-control" id="health.dental" placeholder="" formControlName="lastDentalExam">
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="health.medical">Medical </label>
      <input type="text" class="form-control" id="health.medical" placeholder="" formControlName="lastMedicalExam">
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="health.vision">Vision </label>
      <input type="text" class="form-control" id="health.vision" placeholder="" formControlName="lastVisionExam">
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="health.psycological">Psycological </label>
      <input type="text" class="form-control" id="health.psycological" placeholder="" formControlName="lastPsychExam">
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Are you sexually active?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="isSexuallyActive"> &nbsp;&nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="isSexuallyActive"> &nbsp;&nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Do you have an adult to talk to about safe sex and reproductive health?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="hasAdult"> &nbsp;&nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="hasAdult"> &nbsp;&nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Have you been tested for HIV/AIDS?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="hasBeenTestedHIV"> &nbsp;&nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="hasBeenTestedHIV"> &nbsp;&nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="health.HIV_AIDSTestDate" class="col-form-label">HIV/AIDS Date</label>
        <!-- HIV/AIDS Date Block -->
        <mdcps-date-picker [class]="'form-control form-control-sm datepicker w-50'" [controlName]="'lastHIVTestDate'" [id]="'health.HIV_AIDSTestDate'"
          [group]="healthForm">
        </mdcps-date-picker>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="health.HIV_AIDSTestResults">
          Test Results?</label>
        <textarea type="text" class="form-control rows-4" id="health.HIV_AIDSTestResults" formControlName="hivTestResults" placeholder="Test Results"></textarea>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Have you been tested for STD/STI?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="hasBeenTestedSTD"> &nbsp;&nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="hasBeenTestedSTD"> &nbsp;&nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="health.STD_STITestDate" class="col-form-label">STD/STI Date</label>

      <!-- STD/STI Date Block -->
      <div class="form-group">
        <mdcps-date-picker [class]="'form-control form-control-sm datepicker w-50'" [controlName]="'lastSTDTestDate'" [id]="'health.STD_STITestDate'"
          [group]="healthForm">
        </mdcps-date-picker>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="health.STD_STITestResults">
          Test Results?</label>
        <textarea type="text" class="form-control rows-4" id="health.STD_STITestResults" formControlName="stdTestResults" placeholder="Test Results"></textarea>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label for="health.receivingServices" class="pr-2">
        Are you currently receiving services or treatment for any of the following:
      </label>
      <br/>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="mentalhealth" formControlName="isMentalHealth"> &nbsp;Mental Health
          </label>
         </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="substanceAbuse" formControlName="isSubstanceAbuse"> &nbsp;Substance Abuse
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="learningdisability" formControlName="isLearningDisability"> &nbsp;Learning Disability
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="developmentaldisability" formControlName="isDevelopDisability"> &nbsp;Developmental Disability
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="physicaldisability" formControlName="isPhysicalDisability"> &nbsp;Physical Disability
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-12">
      <label class="col-form-label">
        Are you taking any medications?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="isTakingMedication"> &nbsp;&nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="isTakingMedication"> &nbsp;&nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="health.STD_STITestResults">
        If yes, please list</label>
      <textarea type="text" class="form-control rows-4" id="health.listMedications" formControlName="currentMedicationText" placeholder="List Medications"></textarea>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Are your medications administered to you?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="areMedicationsAdministered"> &nbsp;&nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="areMedicationsAdministered"> &nbsp;&nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Do you keep track of your medical appointments?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="keepTrackOfAppointments"> &nbsp;&nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="keepTrackOfAppointments"> &nbsp;&nbsp;No
          </label>
        </div>
      </div>
    </div>
  </div>
</mdcps-base-form>
