<mdcps-base-form [baseFormGroup]="servicesForm" (next)="onNext($event)" [config]="config" [formGroup]="servicesForm" (previous)="onPrevious($event)">
  
  <div class="row" *ngFor="let service of serviceList.items">
    <div class="col-12">
      <label class="col-form-label">{{ service.desc }}</label>
      <div class="form-group">
        <div class="form-check" *ngFor="let option of serviceList.options">
          <label class="form-check-label" [ngClass]="(option?.className || '')">
            <input type="radio" class="form-check-input" [value]="option.value" > {{ option.label }}
            <input type="text" *ngIf="(option.value == 'other') && (servicesForm?.get(service.optionName)?.value == 'other')" class="form-check-input-inline form-control form-control-sm w-50 ml-3 mt-0"
                  [formControlName]="service.optionReason">
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 ">
      <label class="col-form-label" for="personal.notes">
        Notes
      </label>
      <textarea type="text" class="form-control" id="education.gedProgress" placeholder="Reason" rows="4" formControlName="notes">
      </textarea>
    </div>
  </div>
  <!-- form-row -->

</mdcps-base-form>
