<mdcps-base-form [baseFormGroup]="criminalForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="criminalForm">
  <div class="row" *ngFor="let que of criminalQuesList">
    <div class="col-12">
      <label class="col-form-label">{{ que.desc }}</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" [value]="true" [formControlName]="que.optionName"> &nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" [value]="false" [formControlName]="que.optionName" [checked]= "false"> &nbsp;No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="(que.optionName == 'hasGangActivity') && (criminalForm?.get(que.optionName)?.value)">
      <label for="criminal.gangYes"> Please, Explain:
      </label>
      <textarea type="text" class="form-control" id="criminal.gangYes" formControlname="gangActivityText" rows="2"></textarea>
    </div>
  </div>
</mdcps-base-form>
