<mdcps-base-form [baseFormGroup]="criminalForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="criminalForm">
  <div class="row" *ngFor="let que of criminalQuesList">
    <div class="col-12 col-md-6">
      <label class="col-form-label">{{ que.desc }}</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="Yes" [formControlName]="que.optionName"> &nbsp;Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="No" [formControlName]="que.optionName"> &nbsp;No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pt-2 pt-md-0">
    </div>
  </div>
</mdcps-base-form>
