<mdcps-base-form [baseFormGroup]="actionsForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="actionsForm">
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        <h5>Education</h5>
      </label>
    </div>
  </div>
  <!-- Education -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.educationgoals" class="col-form-label">
        Short Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.educationshorttermgoals" placeholder="Goals" formControlName="educationShortGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.educationgoalTasks" class="col-form-label">
        Task to Reach Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.educationGoalTasks" placeholder="Tasks" formControlName="educationGoalTasks">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
      <label class="col-form-label" for="goalsandactions.educationGoalsCompletionDate">
        Completion Date
      </label>
      <input type="text" class="form-control datepicker" id="goalsandactions.educationGoalsCompletionDate" placeholder="Date" rows="2"
        formControlName="educationGoalsCompletionDate">
    </div>
  </div>
  <!-- Education -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.educationlongtermgoals" class="col-form-label">
        Long Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.educationlongtermgoals" placeholder="Goals" formControlName="educationLongGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.educationGoalProgress" class="col-form-label">
        Progress to Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.educationGoalProgress" placeholder="Progress" formControlName="educationGoalProgress">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
    </div>
  </div>
  <!-- Education -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        <h5>Housing</h5>
      </label>
    </div>
  </div>
  <!-- Housing -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.housingshorttermgoals" class="col-form-label">
        Short Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.housingshorttermgoals" placeholder="Goals" formControlName="housingShortGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.housinggoaltasks" class="col-form-label">
        Task to Reach Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.housinggoaltasks" placeholder="Tasks" formControlName="housingGoalTasks">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
      <label class="col-form-label" for="goalsandactions.housinggoalscompletiondate">
        Completion Date
      </label>
      <input type="text" class="form-control datepicker" id="goalsandactions.housinggoalscompletiondate" placeholder="Date" rows="2"
        formControlName="housingGoalsCompletionDate">
    </div>
  </div>
  <!-- Housing -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.housinglongtermgoals" class="col-form-label">
        Long Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.housinglongtermgoals" placeholder="Goals" formControlName="housingLongGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.housinggoalprogress" class="col-form-label">
        Progress to Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.housinggoalprogress" placeholder="Progress" formControlName="housingGoalProgress">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
    </div>
  </div>
  <!-- Housing -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        <h5>Employment</h5>
      </label>
    </div>
  </div>
  <!-- Employment -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.employmentshorttermgoals" class="col-form-label">
        Short Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.employmentshorttermgoals" placeholder="Goals" formControlName="employmentShortGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.employmentgoaltasks" class="col-form-label">
        Task to Reach Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.employmentgoaltasks" placeholder="Tasks" formControlName="employmentGoalsTasks">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
      <label class="col-form-label" for="goalsandactions.employmentgoalscompletiondate">
        Completion Date
      </label>
      <input type="text" class="form-control datepicker" id="goalsandactions.employmentgoalscompletiondate" placeholder="Date"
        rows="2" formControlName="employmentGoalsCompletionDate">
    </div>
  </div>
  <!-- Employment -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.employmentlongtermgoals" class="col-form-label">
        Long Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.employmentlongtermgoals" placeholder="Goals" formControlName="employmentLongGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.employmentgoalprogress" class="col-form-label">
        Progress to Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.employmentgoalprogress" placeholder="Progress" formControlName="employmentGoalProgress">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
    </div>
  </div>
  <!-- Employment -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        <h5>Transportation</h5>
      </label>
    </div>
  </div>
  <!-- Transportation -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.transportationshorttermgoals" class="col-form-label">
        Short Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.transportationshorttermgoals" placeholder="Goals"
        formControlName="transportationShortGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.transportationgoaltasks" class="col-form-label">
        Task to Reach Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.transportationgoaltasks" placeholder="Tasks" formControlName="transportationGoalsTasks">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
      <label class="col-form-label" for="goalsandactions.transportationgoalscompletiondate">
        Completion Date
      </label>
      <input type="text" class="form-control datepicker" id="goalsandactions.transportationgoalscompletiondate" placeholder="Date"
        rows="2" formControlName="transportationGoalsCompletionDate">
    </div>
  </div>
  <!-- Transportation -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.transportationlongtermgoals" class="col-form-label">
        Long Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.transportationlongtermgoals" placeholder="Goals"
        formControlName="transportationLongGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.transportationgoalprogress" class="col-form-label">
        Progress to Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.transportationgoalprogress" placeholder="Progress"
        formControlName="transportationGoalsProgress">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
    </div>
  </div>
  <!-- Transportation -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        <h5>Supportive Connections</h5>
      </label>
    </div>
  </div>
  <!-- Supportive Connections -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.supportiveshorttermgoals" class="col-form-label">
        Short Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.supportiveshorttermgoals" placeholder="Goals" formControlName="supportiveShortGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.supportivegoaltasks" class="col-form-label">
        Task to Reach Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.supportivegoaltasks" placeholder="Tasks" formControlName="supportiveGoalsTasks">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
      <label class="col-form-label" for="goalsandactions.supportivegoalscompletiondate">
        Completion Date
      </label>
      <input type="text" class="form-control datepicker" id="goalsandactions.supportivegoalscompletiondate" placeholder="Date"
        rows="2" formControlName="supportiveGoalsCompletionDate">
    </div>
  </div>
  <!-- Supportive Connections -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.supportivelongtermgoals" class="col-form-label">
        Long Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.supportivelongtermgoals" placeholder="Goals" formControlName="supportiveLongGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.supportivegoalprogress" class="col-form-label">
        Progress to Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.supportivegoalprogress" placeholder="Progress" formControlName="supportiveGoalsProgress">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
    </div>
  </div>
  <!-- Supportive Connections -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        <h5>Other</h5>
      </label>
    </div>
  </div>
  <!-- Other -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.othershorttermgoals" class="col-form-label">
        Short Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.othershorttermgoals" placeholder="Goals" formControlName="otherShortGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.othergoaltasks" class="col-form-label">
        Task to Reach Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.othergoaltasks" placeholder="Tasks" formControlName="otherGoalsTasks">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
      <label class="col-form-label" for="goalsandactions.othergoalscompletiondate">
        Completion Date
      </label>
      <input type="text" class="form-control datepicker" id="goalsandactions.othergoalscompletiondate" placeholder="Date" rows="2"
        formControlName="otherGoalsCompletionDate">
    </div>

  </div>
  <!-- Other -->
  <div class="row">
    <div class="col-12 col-md-5">
      <label for="goalsandactions.housinglongtermgoals" class="col-form-label">
        Long Term Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.housinglongtermgoals" placeholder="Goals" formControlName="otherLongGoals">
      </textarea>
    </div>
    <div class="col-12 col-md-5">
      <label for="goalsandactions.housinggoalprogress" class="col-form-label">
        Progress to Goals
      </label>
      <textarea type="text" class="form-control" rows="3" id="goalsandactions.housinggoalprogress" placeholder="Progress" formControlName="otherGoalsProgress">
      </textarea>
    </div>
    <div class="col-12 col-md-2">
    </div>

  </div>
  <!-- Other -->
  <div class="row">
    <div class="col-12 ">
      <label class="col-form-label" for="education.notes">
        Notes
      </label>
      <textarea type="text" class="form-control" id="education.gedProgress" placeholder="Reason" rows="4" formControlName="notes">
      </textarea>
    </div>
  </div>
  <!-- form-row -->

</mdcps-base-form>
