<mdcps-base-form [baseFormGroup]="educationForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="educationForm">
  <div class="row">
    <div class="col-12">
      <label for="education.currenttrack">Current Education Track </label>
    </div>
    <!-- col-12 -->
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-3">
      <label class="col-form-label">Diploma?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="diplomaStatus"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="diplomaStatus"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="education.grade">Grade </label>
      <input type="text" class="form-control" id="education.grade" placeholder="Grade" formControlName="grade">
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label">Correct Grade for Age?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="correctGrade"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="correctGrade"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="education.notCorrectGrade">
        If no, reason </label>
      <textarea type="text" class="form-control" id="education.grade" placeholder="Reason" rows="2" formControlName="notCorrectGrade">
      </textarea>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Duel Enrollment?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="duelEnrollment"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="duelEnrollment"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label class="col-form-label" for="education.duelEnrollmentExplain">
        If yes, please explain: </label>
      <textarea type="text" class="form-control" id="education.duelEnrollmentExplain" placeholder="Reason" rows="2" formControlName="duelEnrollmentExplain">
      </textarea>
    </div>
  </div>
  <!-- form-row -->
  <!-- GED -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">GED?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="ged"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="ged"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="education.duelEnrollmentExplain">
        GED Progress </label>
      <textarea type="text" class="form-control" id="education.gedProgress" placeholder="Reason" rows="2" formControlName="gedProgress">
      </textarea>
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="education.gedExpectedTestDate">
        Expected Test Date </label>
      <input type="text" class="form-control datepicker" id="education.gedExpectedTestDate" placeholder="Reason" rows="2" formControlName="gedExpectedTestDate" />
    </div>
  </div>
  <!-- form-row -->
  <!-- Vocational -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Vocational?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="vocoational"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="vocoational"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
  <!-- form-row -->
  <!-- Occupational Certificate -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Occupational Certificate?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="occupationalCert"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="occupationalCert"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
  <!-- form-row -->
  <!-- Post Secondary Education -->
  <div class="row">
    <div class="col-12 col-md-3">
      <label class="col-form-label">Post Secondary Education?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="postSecondary"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="postSecondary"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label" for="education.grade">Year </label>
      <input type="text" class="form-control" id="education.postSecYear" placeholder="Year" formControlName="postSecYear">
    </div>
    <div class="col-12 col-md-3">
      <label class="col-form-label">Type?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="parttime" formControlName="postSecType"> Part-Time
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="fulltime" formControlName="postSecType"> Full-Time
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- ETV -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">ETV</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="etv"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="etv"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="education.receiveEtvFunds" class="col-form-label">When did you last receive ETV funds?</label>
      <input type="text" class="form-control datepicker w-50" id="education.receiveEtvFunds" placeholder="Date of Discharge" formControlname="fundsDate">
    </div>
  </div>
  <!-- form-row -->
  <!-- Where enrolled -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="education.receiveEtvFunds" class="col-form-label">Where are you enrolled in an educational program?</label>
    </div>
    <div class="col-12 col-md-6">
      <input type="text" class="form-control" id="education.educationalprogramenrolled" placeholder="Where enrolled" formControlname="eductionEnrolled">
    </div>
  </div>
  <!-- Receive ETV funds -->
  <div class="row">
    <div class="col-12 ">
      <label for="education.receiveEtvFunds" class="col-form-label">What is the highest level of education (18 or older)?</label>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="somehighschool" formControlName="highestEducation"> &nbsp;Some High School
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="somemiddleschool" formControlName="highestEducation"> &nbsp;Some Middle School
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="diploma" formControlName="highestEducation"> &nbsp;Diploma
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="GED" formControlName="highestEducation"> &nbsp;GED
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="certificate" formControlName="highestEducation"> &nbsp;Certificate
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="vocationtraining" formControlName="highestEducation"> &nbsp;Vocational Training
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label col-3">
            <input type="radio" class="form-check-input form-check-input-inline" value="other" formControlName="highestEducation"> &nbsp;Other
          </label>
          <input type="text" class="form-check-input">
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Goals -->
  <div class="row">
    <div class="col-12 col-md-3">
      <label for="education.goals" class="col-form-label">What are your goals</label>
    </div>
    <div class="col-12 col-md-9">
      <input type="text" class="form-control w-75" id="education.goals" formControlName="goals" placeholder="Goals">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Post-Secondary Education Plan </h4>
    </div>
    <!-- col-12 -->
  </div>
  <!-- planned attendance -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="education.plannedattendance" class="pr-2">Do you plan to attend a</label>
      <br/>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="fouryear" formControlName="plannedAttendance"> &nbsp;Four Year Program
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="twoyear" formControlName="plannedAttendance"> &nbsp;Two Year Program
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="vocational" formControlName="plannedAttendance"> &nbsp;Vocational Program
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="military" formControlName="plannedAttendance"> &nbsp;Military
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label col-4">
            <input type="radio" class="form-check-input form-check-input-inline" value="notapplicable" formControlName="plannedAttendance"> &nbsp;Not Applicable
          </label>
          <input type="text" class="form-check-input" formControlName="plannedAttendanceNotApplicable">
        </div>
        <div class="form-check">
          <label class="form-check-label col-4">
            <input type="radio" class="form-check-input form-check-input-inline" value="other" formControlName="plannedAttendance"> &nbsp;Other
          </label>
          <input type="text" class="form-check-input" formControlName="plannedAttendanceOther">
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Where enrolled -->
  <div class="row">
    <div class="col-12 col-md-3">
      <label for="education.expectedareaofstudy" class="col-form-label">Expected area of study</label>
    </div>
    <div class="col-12 col-md-9 w-50">
      <input type="text" class="form-control" id="education.expectedAreaOfStudy" formControlName="expectedAreaOfStudy" placeholder="Expected area of study">
    </div>
  </div>
</mdcps-base-form>
