<mdcps-base-form [baseFormGroup]="educationForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="educationForm">
  <div class="row">
    <div class="col-12 ">
      <label for="education.receiveEtvFunds" class="col-form-label">
        If you are 18 or older, what is the highest level of education you have completed?</label>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="somehighschool" formControlName="ce_HighestLevel"> &nbsp;Some High School
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="somemiddleschool" formControlName="ce_HighestLevel"> &nbsp;Some Middle School
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="diploma" formControlName="ce_HighestLevel"> &nbsp;Diploma
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="GED" formControlName="ce_HighestLevel"> &nbsp;GED
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="certificate" formControlName="ce_HighestLevel"> &nbsp;Certificate
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="vocationtraining" formControlName="ce_HighestLevel"> &nbsp;Vocational Training
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="associatesdegree" formControlName="ce_HighestLevel"> &nbsp;Associate's Degree
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="bachelorsdegree" formControlName="ce_HighestLevel"> &nbsp;Bachelor's Degree
          </label>
        </div>

      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Are you currently enrolled Education -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">Are you currently enrolled in an education program?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="ce_CurrentlyEnrolled"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="ce_CurrentlyEnrolled"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="educationForm?.get('ce_CurrentlyEnrolled')?.value == 'yes'">
      <label for="education.currentlyenrolledat" class="">
        If yes, select one of the following:</label>
      <div class="form-group">
        <div class="form-check">
          <div class="row">
            <div class="col-4">
              <label class="form-check-label pt-2">
                <input type="radio" class="form-check-input form-check-input-inline" value="middleschool" formControlName="ce_WhereEnrolled"> &nbsp; Middle School
              </label>
            </div>
            <div class="col-4">
              <input type="text" class="form-check-input " placeholder="Grade" formControlName="CE_GradeMiddle">
            </div>
          </div>
        </div>
        <div class="form-check">
          <div class="row">
            <div class="col-4">
              <label class="form-check-label pt-2">
                <input type="radio" class="form-check-input form-check-input-inline" value="highschool" formControlName="ce_WhereEnrolled"> &nbsp; High School
              </label>
            </div>
            <div class="col-4">
              <input type="text" class="form-check-input" placeholder="Grade" formControlName="CE_GradeHigh">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Currently Enrolled -->
  <div class="row">
    <div class="col-12 ">
      Currently Enrolled in High School or Middle School
    </div>
    <!-- col-12 -->
  </div>
  <!-- form-row -->
  <!-- IEP Ruling -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">
        Do you have an IEP ruling?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="ce_HasIEPRuling"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="ce_HasIEPRuling"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
  <!-- form-row -->
  <!-- Credits Current and Needed -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label" for="education.creditstograduate">
        How many credits do you need to graduate?
      </label>
      <input type="text" class="form-control w-75" id="education.creditstograduate" placeholder="Credits needed" formControlName="ce_CreditsNeeded">
    </div>
    <div class="col-12 col-md-6">
      <label class="col-form-label" for="education.currentcredits">
        How many credits do you have?
      </label>
      <input type="text" class="form-control w-75" id="education.currentcredits" placeholder="Credits current" formControlName="ce_CurrentCredits">
    </div>
  </div>
  <!-- form-row -->
  <!-- Correct Grade for Age -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">Are you in the Correct Grade for Age?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="ce_CorrectGrade"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="ce_CorrectGrade"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="educationForm?.get('ce_CorrectGrade')?.value == 'no'">
      <label class="col-form-label" for="education.notCorrectGrade">
        If no, reason </label>
      <textarea type="text" class="form-control" id="education.grade" placeholder="Reason" rows="2" formControlName="ce_CorrectGradeReason">
      </textarea>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        During past six (6) months what type of grades have you earned? (check all that apply)
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="a_and_b" formControlName="gradesLastSix"> &nbsp;A's and B's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="b_and_c" formControlName="gradesLastSix"> &nbsp;B's and C's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="c_and_d" formControlName="gradesLastSix"> &nbsp;C's and D's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="d_and_f" formControlName="gradesLastSix"> &nbsp;D's and F's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="mostly_f" formControlName="gradesLastSix"> &nbsp;Mostly F's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="notsure" formControlName="gradesLastSix"> &nbsp;Not Sure
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="noneoftheabove" formControlName="gradesLastSix"> &nbsp;None of the Above
          </label>
        </div>

      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Do you need help -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Do you need help in any of the following subject areas? (check all that apply)
      </label>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="math" formControlName="subjectNeedsHelp"> &nbsp;Math
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="english" formControlName="subjectNeedsHelp"> &nbsp;English
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="science" formControlName="subjectNeedsHelp"> &nbsp;Science
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="history_socialstudies" formControlName="subjectNeedsHelp"> &nbsp;History / Social Studies
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="languagearts" formControlName="subjectNeedsHelp"> &nbsp;Language Arts
          </label>
        </div>
        <div class="form-check">
          <div class="row">
            <div class="col-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="other" formControlName="subjectNeedsHelp"> &nbsp;Other
              </label>
            </div>
            <div class="col-4">
              <input type="text" class="form-check-input" formControlName="otherHelpNeeded">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- State Level tests -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">
        Have you taken any State Level tests?
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="ce_isStateTests"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="notpassed" formControlName="ce_isStateTests"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
  <!-- form-row -->

  <div class="row">
    <div class="col-12" *ngIf="educationForm?.get('ce_isStateTests')?.value == 'yes'">
      <label class="col-form-label">
        How have you performed on State Level tests?
      </label>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="passed" formControlName="ce_PassedStateTests"> I have passed all test I have taken
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="notpassed" formControlName="ce_PassedStateTests"> I have not passed all test I have taken
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="educationForm?.get('ce_PassedStateTests')?.value == 'notpassed'">
      <label class="col-form-label" for="education.duelEnrollmentExplain">
        If no, which subjects were not passed?
      </label>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="algebra1" formControlName="testsNotPassed"> &nbsp;Algebra I
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="biology1" formControlName="testsNotPassed"> &nbsp;Biology I
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="english2" formControlName="testsNotPassed"> &nbsp;English II
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="ushistory" formControlName="testsNotPassed"> &nbsp;US History
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->

  <!-- Dual Enrollment -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">Dual Enrollment?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="ce_IsDualEnrollment"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="ce_IsDualEnrollment"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="educationForm?.get('ce_IsDualEnrollment')?.value == 'yes'">
      <label class="col-form-label" for="education.duelEnrollmentExplain">
        Which types of Dual Enrollment are you enrolled in?
      </label>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="highschoolandcollege" formControlName="ce_DualEnrollmentType"> &nbsp;High School and College
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="gedandcollege" formControlName="ce_DualEnrollmentType"> &nbsp;GED and College(MI BEST)
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="highschoolandvocational" formControlName="ce_DualEnrollmentType"> &nbsp;High School and Vocational
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- GED -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">GED?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="ce_IsGED"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="ce_IsGED"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4" *ngIf="educationForm?.get('ce_IsGED')?.value == 'yes'">
      <label class="col-form-label" for="education.duelEnrollmentExplain">
        GED Progress </label>
      <textarea type="text" class="form-control" id="education.gedProgress" placeholder="" rows="2" formControlName="ce_GEDProgress">
      </textarea>
    </div>
    <div class="col-12 col-md-4" *ngIf="educationForm?.get('ce_IsGED')?.value == 'yes'">
      <label class="col-form-label" for="education.gedExpectedTestDate">
        Expected Test Date </label>
      <input type="text" class="form-control datepicker" id="education.gedExpectedTestDate" placeholder="" rows="2" formControlName="ce_ExpectedTestDate">
    </div>
  </div>
  <!-- form-row -->
  <!-- Vocational -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Vocational?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" alue="yes" formControlName="ce_IsHighSchoolVocational"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="ce_IsHighSchoolVocational"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
  <!-- form-row -->
  <!-- Occupational Certificate -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Occupational Certificate?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="occupationalCert"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="occupationalCert"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
  <!-- form-row -->
  <!-- Post Secondary Education -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">Post Secondary Education?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="postSecondary"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="postSecondary"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="educationForm?.get('postSecondary')?.value == 'yes'">
      <label class="col-form-label">Post Secondary Education Type?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="freshman" formControlName="postSecType"> Freshman
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="sophmore" formControlName="postSecType"> Sophmore
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="junior" formControlName="postSecType"> Junior
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="senior" formControlName="postSecType"> Senior
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- ETV -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Are you enrolled in ETV?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="etv_IsEnrolled"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="etv_IsEnrolled"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="education.receiveEtvFunds" class="col-form-label">When did you last receive ETV funds?</label>
      <input type="text" class="form-control datepicker w-50" id="education.receiveEtvFunds" formControlName="etv_LastReceiveFunds"
        placeholder="">
    </div>
  </div>
  <!-- form-row -->
  <!-- Grades past 6 months -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        During past 6 months what grades have you earned? (check all that apply)
      </label>
      <div class="form-group">
        <div class="form-check ">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="a_and_b" formControlName="etvGrades"> &nbsp;A's and B's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="b_and_c" formControlName="etvGrades"> &nbsp;B's and C's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="c_and_d" formControlName="etvGrades"> &nbsp;C's and D's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="d_and_f" formControlName="etvGrades"> &nbsp;D's and F's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="mostly_f" formControlName="etvGrades"> &nbsp;Mostly F's
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="notsure" formControlName="etvGrades"> &nbsp;Not Sure
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="noneoftheabove" formControlName="etvGrades"> &nbsp;None of the Above
          </label>
        </div>

      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Do you need help with ETV -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        Do you need help in any of the following subject areas? (check all that apply)
      </label>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="math" formControlName="etvSubjectHelp"> &nbsp;Math
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="english" formControlName="etvSubjectHelp"> &nbsp;English
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="science" formControlName="etvSubjectHelp"> &nbsp;Science
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="history_socialstudies" formControlName="etvSubjectHelp"> &nbsp;History / Social Studies
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="languagearts" formControlName="etvSubjectHelp"> &nbsp;Language Arts
          </label>
        </div>
        <div class="form-check">
          <div class="row">
            <div class="col-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="other" formControlName="etvSubjectHelp"> &nbsp; Other
              </label>
            </div>
            <div class="col-4">
              <input type="text" class="form-check-input" formControlName="etvOtherHelp">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- form-row -->

  <!-- Where enrolled -->
  <div class="row">
    <div class="col-12">
      <label for="education.receiveEtvFunds" class="col-form-label">Where are you enrolled in an educational program?</label>
      <input type="text" class="form-control" id="education.educationalprogramenrolled" formControlName="etvWhereEnrolled" placeholder="Where enrolled">
    </div>
    <div class="col-12 col-md-6">
      <label class="col-form-label">
        Are you enrolled?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="parttime" formControlName="etvEnrollType"> Part-time
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="fulltime" formControlName="etvEnrollType"> Full-time
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- Goals -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="education.goals" class="col-form-label">
        What are your career goals
      </label>
      <input type="text" class="form-control" id="education.careergoals" formControlName="careerGoals" placeholder="Career Goals">
    </div>
  </div>
  <!-- Currently Enrolled -->
  <div class="row">
    <div class="col-12 ">
      <h4>Opinions</h4>
    </div>
    <!-- col-12 -->
  </div>
  <!-- form-row -->
  <!-- Opinion: School Waste of time -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        I think school is a waste of time
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglydisagree" formControlName="opinionWaste"> Strongly Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="disagree" formControlName="opinionWaste"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="agree" formControlName="opinionWaste"> Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglyagree" formControlName="opinionWaste"> Strongly Agree
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Opinion: Like Learning -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        I like learning new things
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglydisagree" formControlName="opinionLearning"> Strongly Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="disagree" formControlName="opinionLearning"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="agree" formControlName="opinionLearning"> Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglyagree" formControlName="opinionLearning"> Strongly Agree
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Opinion: Like Going to School -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        I like going to school
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglydisagree" formControlName="opinionGoingSchool"> Strongly Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="disagree" formControlName="opinionGoingSchool"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="agree" formControlName="opinionGoingSchool"> Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglyagree" formControlName="opinionGoingSchool"> Strongly Agree
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Opinion: Prepare for tests -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        I prepart for upcoming tests/exams
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglydisagree" formControlName="opinionTests"> Strongly Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="disagree" formControlName="opinionTests"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="agree" formControlName="opinionTests"> Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglyagree" formControlName="opinionTests"> Strongly Agree
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Opinion: Complete Assigned Work -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        I complete all work assigned to me
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglydisagree" formControlName="opinionFinishWork"> Strongly Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="disagree" formControlName="opinionFinishWork"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="agree" formControlName="opinionFinishWork"> Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglyagree" formControlName="opinionFinishWork"> Strongly Agree
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Opinion: Important to make good grades -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        It's important to me to make good grades
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglydisagree" formControlName="opinionGrades"> Strongly Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="disagree" formControlName="opinionGrades"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="agree" formControlName="opinionGrades"> Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglyagree" formControlName="opinionGrades"> Strongly Agree
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Opinion: Trouble Concentrating -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        I have trouble concentrating in class
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglydisagree" formControlName="opinionConcentration"> Strongly Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="disagree" formControlName="opinionConcentration"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="agree" formControlName="opinionConcentration"> Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglyagree" formControlName="opinionConcentration"> Strongly Agree
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Opinion: Education Important -->
  <div class="row">
    <div class="col-12">
      <label class="col-form-label">
        I believe education is important for my success
      </label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglydisagree" formControlName="opinionEducation"> Strongly Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="disagree" formControlName="opinionEducation"> Disagree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="agree" formControlName="opinionEducation"> Agree
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="stronglyagree" formControlName="opinionEducation"> Strongly Agree
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->

  <div class="row">
    <div class="col-12">
      <h4>Post-Secondary Education Plan </h4>
    </div>
    <!-- col-12 -->
  </div>
  <!-- planned attendance -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="education.plannedattendance" class="pr-2">Do you plan to attend a</label>
      <br/>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="fouryear" formControlName="plannedAttendance"> &nbsp;Four Year Program
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="twoyear" formControlName="plannedAttendance"> &nbsp;Two Year Program
          </label>
        </div>
        <div class="form-check ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="vocational" formControlName="plannedAttendance"> &nbsp;Vocational Program
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="military" formControlName="plannedAttendance"> &nbsp;Military
          </label>
        </div>
        <div class="form-check">
          <div class="row">
            <div class="col-4">
              <label class="form-check-label pt-2">
                <input type="radio" class="form-check-input" value="notapplicable" formControlName="plannedAttendance"> &nbsp;Not Applicable
              </label>
            </div>
            <div class="col-4">
              <input type="text" class="form-check-input" formControlName="attendanceNotApplicable">
            </div>
          </div>
        </div>
        <div class="form-check">
          <div class="row">
            <div class="col-4">
              <label class="form-check-label pt-2">
                <input type="radio" class="form-check-input" value="other" formControlName="plannedAttendance"> &nbsp;Other
              </label>
            </div>
            <div class="col-4">
              <input type="text" class="form-check-input" formControlName="plannedAttendanceOther">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Where enrolled -->
  <div class="row">
    <div class="col-12 col-md-3">
      <label for="education.expectedareaofstudy" class="col-form-label">Expected area of study</label>
    </div>
    <div class="col-12 col-md-9 w-50">
      <input type="text" class="form-control" id="education.expectedAreaOfStudy" formControlName="expectedAreaOfStudy" placeholder="Expected area of study">
    </div>
  </div>

</mdcps-base-form>
