<mdcps-base-form [baseFormGroup]="stipendsForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="stipendsForm">

  <div class="row" *ngFor="let stipend of stipendList.items">
    <div class="mdcps-stipend-container col-12">
      <div class="row">
        <div class="col-12">
          <span class="mdcps-stipend-title">
            {{stipend.level}}
            <span class="divider"></span>
          </span>
        </div>
        <div class="col-12 col-md-6 pt-2 pt-md-0">
          <label class="col-form-label">
            Stipend Requested?
          </label>
          <div class="form-group">
            <div class="form-check" *ngFor="let option of stipendList.options">
              <label class="form-check-label" [ngClass]="(option?.className || '')">
                <input type="radio" class="form-check-input" [value]="option.value" [formControlName]="stipend.optionName" />{{option.label}}
                <input type="text" *ngIf="(option.value == 'other') && (stipendsForm?.get(stipend.optionName)?.value == 'other')" class="form-check-input-inline form-control form-control-sm w-50 ml-3 mt-0"
                  [formControlName]="stipend.optionReason">
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 pt-2 pt-md-0" *ngIf="hasStipendRequested(stipend)">
          <div class="mdcps-more-details">
            <label [for]="('stipends' + stipend.optionReqDate)" class="col-form-label">Request Date:</label>
            <!-- Requested Date Block -->
            <mdcps-date-picker
              [class]="'form-control'"
              [controlName]="stipend.optionReqDate"
              [id]="('stipends' + stipend.optionReqDate)"
              [group]="stipendsForm">
            </mdcps-date-picker>
          </div>
        </div>
      </div>
    </div>
  </div>
</mdcps-base-form>