<mdcps-base-form [baseFormGroup]="relationshipForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="relationshipForm">

  <div class="row" *ngFor="let que of relQuesList">
    <div class="col-12 col-md-12">
      <label class="col-form-label">{{ que.desc }}</label>

      <!-- Radios Block -->
      <div class="form-group" *ngIf="!que.isCheckbox">
        <div class="form-check form-check-inline" *ngFor="let opt of ['Yes', 'No']">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" [value]="opt" [formControlName]="que.optionName"> &nbsp; {{ opt }}
          </label>
        </div>
      </div>

      <!-- Checkboxes Block -->
      <div class="form-group" *ngIf="que.isCheckbox">
        <div class="form-check" *ngFor="let opt of que.options">
          <label class="form-check-label" [formGroupName]="que.optionName">
            <input type="checkbox" class="form-check-input"  [formControlName]="opt.optionName"> &nbsp;&nbsp; {{ opt.label }}
          </label>
        </div>
      </div>
    </div>
  </div>
</mdcps-base-form>
