<mdcps-base-form [baseFormGroup]="skillsForm" (next)="onSubmit($event)" [config]="{nextBtn: true, nextBtnLabel: 'Stipends'}"
  [formGroup]="skillsForm">
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Please indicate which of the following skills apply?</label>
      <fieldset class="form-group">
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="01" formControlName="emailSkills"> &nbsp; &nbsp;I know how to use my email account
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="02" formControlName="cookingSkills"> &nbsp; &nbsp;I can make meals without using a recipe
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="03" formControlName="laundrySkills"> &nbsp; &nbsp;I know how to do my own laundry
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="04" formControlName="medicalCareSkills"> &nbsp; &nbsp;I can get medical and dental care when I need it
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="05" formControlName="bathingSkills"> &nbsp; &nbsp;I bathe daily
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="06" formControlName="brushingSkills"> &nbsp; &nbsp;I brush my teeth daily
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="07" formControlName="protectionSkills"> &nbsp; &nbsp;I know how to get myself away from harmful situations
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="08" formControlName="speakingSkills"> &nbsp; &nbsp;I can speak up for myself
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="09" formControlName="abusiveRelationSkills"> &nbsp; &nbsp;I know the signs of an abusive relationship
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="10" formControlName="angerManagementSkills"> &nbsp; &nbsp;I can deal with anger without hurting myself or others
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="11" formControlName="finacialSkills"> &nbsp; &nbsp;I know how to balance my bank account
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="12" formControlName="budgetSkills"> &nbsp; &nbsp;I know how to develop a budget
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="13" formControlName="resumeSkills"> &nbsp; &nbsp;I know how to create a resume
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="14" formControlName="jobApplicationSkills"> &nbsp; &nbsp;I can complete a job application
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="15" formControlName="jobInterviewSkills"> &nbsp; &nbsp;I know how to prepare for a job interview
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="16" formControlName="visionSkills"> &nbsp; &nbsp;I can describe my vision for myself
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="17" formControlName="drivingSkills"> &nbsp; &nbsp;I know how to drive
          </label>
        </div>
      </fieldset>
    </div>
    <div class="col-12 col-md-6 pt-2 pt-md-0">
    </div>
  </div>
  <!-- form-row -->
  <hr/>
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Which of the following Independent Living Services have you received?</label>
      <fieldset class="form-group">
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="01" formControlName="educationalSupport"> &nbsp; &nbsp;Educational Support
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="02" formControlName="employmentServices"> &nbsp; &nbsp;Employment Services
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="03" formControlName="healthCare"> &nbsp; &nbsp;Health Care
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="04" formControlName="moneyManagement"> &nbsp; &nbsp;Money Management
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="05" formControlName="housingServices"> &nbsp; &nbsp;Housing
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="06" formControlName="afterCare"> &nbsp; &nbsp;After Care
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="checkbox" class="form-check-input" value="07" formControlName="etvServices"> &nbsp; &nbsp;ETV
          </label>
        </div>
      </fieldset>
    </div>
    <div class="col-12 col-md-6 pt-2 pt-md-0">
    </div>
  </div>
  <!-- form-row -->
  <hr/>
</mdcps-base-form>
