<mdcps-base-form [baseFormGroup]="skillsForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="skillsForm">

  <!-- Skills & Services Block -->
  <div class="row" *ngFor="let section of sections">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <label class="col-form-label">{{section.title}}</label>
      <div class="form-group" *ngFor="let skill of section.skills">
        <div class="form-check">
          <label class="form-check-label">
            <mat-checkbox  [value]="skill.value" [formControlName]="skill.optionName">{{skill.label}} </mat-checkbox>
          </label>
        </div>
      </div>
    </div>
  </div>
</mdcps-base-form>