.mdcps-ac-id {
    font-weight: bold;
}

.mdcps-ac-name {
    font-style: italic;
}

.mdcps-youth-id-block {
    position: relative;

    .mdcps-input {
        background:#fff;
        display:block;
        width: 100%;
        box-sizing: border-box;
    }

    .mdcps-loader-img {
        position: absolute;
        top: 34px;
        right: 12px;
        width: 35px;
    }
}

@media (max-width: 767px) {
    .mdcps-loader-img {
        top: 43px !important;
    }
}