<mdcps-base-form [baseFormGroup]="housingForm" (next)="onNext($event)" [config]="config" (previous)="onPrevious($event)"
  [formGroup]="housingForm">
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">What is your current housing situation?</label>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="payingRentOrMortgage" formControlName="housingStatus"> Paying Rent or Mortgage
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="livingWithRelative" formControlName="housingStatus"> Living with a Relative
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="collegeDorm" formControlName="housingStatus"> College Dorm
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="transitionalLiving" formControlName="housingStatus"> Transitional Living Program
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="emergencyShelter" formControlName="housingStatus"> Emergency Shelter
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="homeless" formControlName="housingStatus"> Homeless
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="motelHotel" formControlName="housingStatus"> Motel/Hotel
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pt-2 pt-md-0">
      <label for="demographics_phone">Length of Time in Current Housing:</label>
      <input type="tel" class="form-control" id="housing.timeInCurrentHousing" placeholder="Time in Current Housing" formControlName="timeInCurrentHousing">
    </div>
  </div>
  <!-- form-row -->
  <!-- Homelessness -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Have you ever been homeless?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="homelessStatus"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="homelessStatus"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pt-2 pt-md-0">
      <label class="col-form-label">If yes, how long?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="zerotosix" formControlName="homelessHowlong"> 0 - 6 months
          </label>
        </div>
        <div class="form-check form-check-inline pl-2">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="sixtotwelve" formControlName="homelessHowlong"> 6 - 12 months
          </label>
        </div>
        <br/>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="twelvetoeighteen" formControlName="homelessHowlong"> 12 - 18 months
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="eighteentotwentyfour" formControlName="homelessHowlong"> 18 - 24 months
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Have you ever been evicted?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="evictedStatus"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="evictedStatus"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 pt-2 pt-md-0">
      <label class="col-form-label">If yes, how long?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="zerotosix" formControlName="evictedhowlong"> 0 - 6 months
          </label>
        </div>
        <div class="form-check form-check-inline pl-2">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="sixtotwelve" formControlName="evictedhowlong"> 6 - 12 months
          </label>
        </div>
        <br/>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="twelvetoeighteen" formControlName="evictedhowlong"> 12 - 18 months
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="eighteentotwentyfour" formControlName="evictedhowlong"> 18 - 24 months
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- form-row -->
  <!-- Homelessness -->
  <div class="row">
    <div class="col-12 col-md-6">
      <label class="col-form-label">Are you able to meet all of your monthly obligations?</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="yes" formControlName="meetMonthlyReq"> Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="no" formControlName="meetMonthlyReq"> No
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="demographics_phone">If no, explain:</label>
      <input type="tel" class="form-control" id="demographics_phone" placeholder="Obligations" formControlName="obligations">
    </div>
  </div>
  <!-- form-row -->
</mdcps-base-form>
