<mdcps-base-form [baseFormGroup]="personalForm" (next)="onNext($event)" [config]="config"
  [formGroup]="personalForm" (previous)="onPrevious($event)">
  <div class="row" *ngFor="let que of questions">
    <div class="col-12">
      <label class="col-form-label" [attr.for]="que.optionName">
       {{ que.label }}
      </label>
      <textarea type="text" class="form-control" [id]="que.optionName" placeholder="Reason" rows="2" [formControlName]="que.optionName">
      </textarea>
    </div>
  </div>
</mdcps-base-form>
