<!-- Injection Point For Dashboard Routes-->
<mdcps-header>
    <mdcps-side-bar>
        <div class="container-fluid">
            <mdcps-youth-appraisal></mdcps-youth-appraisal>

            <div class="mdcps-youth-appr-container">
                <div class="mdcps-youth-appr-header">Questionnaire</div>
                <div class="mdcps-youth-appr-wrapper">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mdcps-side-bar>
</mdcps-header>