<form action="" [formGroup]="goalsForm">
  <div class="row">
    <div class="col-12" id="" formArrayName="goals">
      <label>
        <h3> {{ }}</h3>
      </label>
      <button type="button" style="float:right;" (click)="onAddGoal()">Add Goal</button>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Goals</th>
            <th class="text-center">Tasks to Complete</th>
            <th class="text-center">Person(s) Responsible for Tasks</th>
            <th class="text-center">Progress</th>
            <th class="text-center">Completion Date</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let g of goalsForm.get('goals').controls; let i = index" [formGroupName]="i">
            <th scope="row">
              <input class="form-control form-control-sm" formControlName="goalText">
            </th>
            <td>
              <textarea class="form-control form-control-sm" formControlName="tasks"></textarea>
            </td>
            <td>
              <textarea class="form-control form-control-sm" formControlName="personResp"></textarea>
            </td>
            <td>
              <textarea class="form-control form-control-sm" formControlName="progress"> </textarea>
            </td>
            <td>
              <input class="form-control form-control-sm datepicker" type="date" formControlName="goalsCompleteDt">
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="onDeleteGoal(i)">X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- form-row -->
  <div class="row">
    <div class="col-12" id="" formArrayName="concerns">
      <label>
        <h3> {{ }}</h3>
      </label>
      <button type="button" style="float:right;" (click)="onAddConcern()">Add Concern</button>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Concerns</th>   
            <th class="text-center">Resolutions</th>
            <th class="text-center">Person(s) Responsible for Tasks</th>
            <th class="text-center">Completion Date</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of goalsForm.get('concerns').controls; let i = index" [formGroupName]="i">
            <th scope="row">
              <input class="form-control form-control-sm" formControlName="concernsText">
            </th>
            <td>
              <textarea class="form-control form-control-sm" formControlName="resolutionsText"></textarea>
            </td>
            <td>
              <textarea class="form-control form-control-sm" formControlName="personText"> </textarea>
            </td>
            <td>
              <input class="form-control form-control-sm datepicker" type="date" formControlName="concCompleteDt">
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="onDeleteConcern(i)">X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- form-row -->
</form>
