<mdcps-base-form [baseFormGroup]="demographicsForm" (next)="onNext($event)" [config]="{nextBtn: true, nextBtnLabel: 'Education'}"
  [formGroup]="demographicsForm">

  <div class="mdcps-demographics-container" *ngIf="demographicsForm">
    <div class="row">
      <div class="col-12 col-md-6">
        <label for="demographics.dateofbirth">Date of Birth</label>

        <!-- Date of Birth Block -->
        <mdcps-date-picker
          [class]="'form-control'"
          [controlName]="'dobString'"
          [id]="'demographics.dateofbirth'"
          [group]="demographicsForm">
        </mdcps-date-picker>

        <div class="form-control-feedback" *ngIf="!demographicsForm.get('dobString').valid && (demographicsForm.get('dobString').dirty || demographicsForm.get('dobString')?.touched)">
          <small *ngIf="!demographicsForm.get('dobString').valid" class="has-error small-text text-danger">
            Please enter the valid date of birth
          </small>
        </div>

      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.age">Age</label>
        <input type="text" class="form-control" id="demographics.age" placeholder="Age" formControlName="age">
        <div class="form-control-feedback" *ngIf="!demographicsForm.get('age').valid && (demographicsForm.get('age').dirty || demographicsForm.get('dateOfBirth')?.touched)">
          <small *ngIf="!demographicsForm.get('age').valid" class="has-error small-text text-danger">
            Please enter a valid age
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label for="demographics.phone">Phone</label>
        <input type="tel" class="form-control" id="demographics.phone" placeholder="Phone" formControlName="phone">
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.email">Email</label>
        <input type="email" class="form-control" id="demographics.email" placeholder="Email" formControlName="email">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="demographics.permenancygoal">Permanency Goal</label>
        <textarea type="text" class="form-control" id="demographics.permenancygoal" placeholder="Enter permanency Goal" rows="2"
          formControlName="permPlan">
        </textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label class="col-form-label">Custody?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"  value="yes" formControlName="custodyStatus"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"  value="no" formControlName="custodyStatus"> No
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.dischargedate" class="col-form-label">Discharge Date</label>

        <!-- Discharge Date Block -->
        <mdcps-date-picker
          [class]="'form-control'"
          [controlName]="'dischargeDateString'"
          [id]="'demographics.dischargedate'"
          [group]="demographicsForm"
          [disableWeekends]="true">
        </mdcps-date-picker>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="demographics.address">Address</label>
        <textarea class="form-control" id="demographics.address" placeholder="Address" rows="3" formControlName="address">
        </textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label for="demographics.race">Race</label>
        <input type="text" class="form-control" id="demographics.race" placeholder="Race" formControlName="race">
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.gender">Gender</label>
        <input type="text" class="form-control" id="demographics.gender" placeholder="Gender" formControlName="gender">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label class="col-form-label">Do You Identify as LGBTQ?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"  value="yes" formControlName="isLGBTQ"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"  value="no" formControlName="isLGBTQ"> No
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" value="decline" formControlName="isLGBTQ"> Declined
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-6 pt-2 pt-md-0"  *ngIf="demographicsForm?.get('LGBTQ')?.value == 'yes'">
        <label for="demographics.LGBTQType" class="pr-2">Please Select</label>
        <select class="custom-select form-control" id="demographics.LGBTQType">
          <option [selected]="true" [ngValue]="">Choose Category</option>
          <option *ngFor="let gender of config.gendersList" [ngValue]="gender">{{gender}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label for="demographics_COR">COR</label>
        <input type="text" class="form-control" id="demographics_COR" placeholder="COR" formControlName="COR">
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.COS">COS</label>
        <input type="text" class="form-control" id="demographics.COS" placeholder="COS" formControlName="COS">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label class="col-form-label">Do you have health insurance?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"  value="yes" formControlName="hasHealthInsurance"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"  value="no" formControlName="hasHealthInsurance"> No
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label class="col-form-label">Do you have Medicaid?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"  value="yes" formControlName="hasMedicaid"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input"  value="no" formControlName="hasMedicaid"> No
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row bg-transparent">
      <div class="col-12">
        <label class="col-form-label">Do you have language barriers or need an interperter?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" value="yes" formControlName="hasLanguageBarriers"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" value="no" formControlName="hasLanguageBarriers"> No
            </label>
          </div>
        </div>
      </div>
      <div class="col-12"  *ngIf="demographicsForm?.get('languageBarriers')?.value == 'yes'">
        <label for="inputAddress2">Please explain:</label>
        <textarea class="form-control" id="inputAddress2" placeholder="Explain Needs for an interpreter" rows="3" formControlName="languageBarriersText">
        </textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-md-6">
        <label for="demographics.corWorker">COR MDCPS Worker</label>
        <input type="phone" class="form-control" id="demographics.corWorker" placeholder="MDCPS Worker" formControlName="corWorker">
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="transitionNavigator">Assigned Transition Navigator</label>
        <select class="custom-select form-control" formControlName="transitionNavigator">
          <option [selected]="true" [ngValue]="">Choose Transition Navigator</option>
          <option *ngFor="let name of config.navgList" [ngValue]="name">{{name}}</option>
        </select>
      </div>
    </div>
  </div>
</mdcps-base-form>