<mdcps-base-form [baseFormGroup]="demographicsForm" (next)="onNext($event)" [config]="{nextBtn: true, nextBtnLabel: 'Education'}"
  [formGroup]="demographicsForm" *ngIf="demographicsForm">

  <div class="mdcps-demographics-container" *ngIf="demographicsForm">
    <div class="row">
      <div class="col-12 col-md-6">
        <label for="demographics.dateofbirth">Date of Birth</label>

        <!-- Date of Birth Block -->
        <mdcps-date-picker [class]="'form-control'" [controlName]="'dob'" [id]="'demographics.dateofbirth'" [group]="demographicsForm"
          [disabled]="getControl('dob')?.isDisabled">
        </mdcps-date-picker>

        <div class="form-control-feedback" *ngIf="!demographicsForm.get('dob').valid && (demographicsForm.get('dob').dirty || demographicsForm.get('dob')?.touched)">
          <small *ngIf="!demographicsForm.get('dob').valid" class="has-error small-text text-danger">
            Please enter the valid date of birth
          </small>
        </div>

      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.age">Age</label>
        <input type="text" class="form-control" id="demographics.age" placeholder="Age" formControlName="age">
        <div class="form-control-feedback" *ngIf="!demographicsForm.get('age').valid && (demographicsForm.get('age').dirty || demographicsForm.get('age')?.touched)">
          <small *ngIf="!demographicsForm.get('age').valid" class="has-error small-text text-danger">
            Please enter a valid age
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label for="demographics.phone">Phone</label>
        <mdcps-input-mask [autoClear]="false" [inputId]="'demographics.phone'" [styleClass]="'form-control'" [mask]="'(999) 999 9999'"
          [formControlName]="'phone'"  placeholder="Phone"></mdcps-input-mask>
          <div class="form-control-feedback" *ngIf="!demographicsForm.get('phone').valid && (demographicsForm.get('phone').dirty || demographicsForm.get('phone')?.touched)">
            <small *ngIf="!demographicsForm.get('phone').valid" class="has-error small-text text-danger">
              Please enter a valid email
            </small>
          </div>
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.email">Email</label>
        <input type="email" class="form-control" id="demographics.email" placeholder="Email" formControlName="email">
        <div class="form-control-feedback" *ngIf="!demographicsForm.get('email').valid && (demographicsForm.get('email').dirty || demographicsForm.get('email')?.touched)">
          <small *ngIf="!demographicsForm.get('email').valid" class="has-error small-text text-danger">
            Please enter a valid email id
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="demographics.permenancygoal">Permanency Goal</label>
        <textarea type="text" class="form-control" id="demographics.permenancygoal" placeholder="Enter permanency Goal" rows="2"
          formControlName="permPlan">
        </textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label class="col-form-label">Custody?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="true" formControlName="custodyStatus"> Active
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="false" formControlName="custodyStatus" [checked]="demographicsForm.get('custodyStatus').value == false">              Non-Active
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0" *ngIf="!(demographicsForm?.get('custodyStatus')?.value)">
        <label for="demographics.dischargedate" class="col-form-label">Discharge Date</label>

        <!-- Discharge Date Block -->
        <mdcps-date-picker [class]="'form-control'" [controlName]="'dischargeDate'" [id]="'demographics.dischargedate'" [group]="demographicsForm"
          [disableWeekends]="true">
        </mdcps-date-picker>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="demographics.address">Current Address</label>
        <textarea [hidden]="true" class="form-control" id="demographics.address" placeholder="Address" rows="3" formControlName="addressList">
        </textarea>

        <pre class="mdcps-address-list" [innerText]="demographicsForm.get('addressList').value"></pre>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label for="demographics.race">Race</label>
        <input type="text" class="form-control" id="demographics.race" placeholder="Race" formControlName="race">
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.gender">Gender</label>
        <input type="text" class="form-control" id="demographics.gender" placeholder="Gender" formControlName="gender">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label class="col-form-label">Do You Identify as LGBTQ?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="'yes'" formControlName="isLGBTQ"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="'no'" formControlName="isLGBTQ" [checked]="false">No
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="'decline'" formControlName="isLGBTQ"> Declined
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-6 pt-2 pt-md-0" *ngIf="demographicsForm?.get('isLGBTQ')?.value == 'yes'">
        <label for="demographics.LGBTQType" class="pr-2">Please Select:</label>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [value]="'lesbian'" formControlName="isLesbian"> &nbsp;Lesbian
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [value]="'gay'" formControlName="isGay"> &nbsp;Gay
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [value]="'bisexual'" formControlName="isBisexual"> &nbsp;Bisexual
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [value]="'transgender'" formControlName="isTransgender"> &nbsp;Transgender
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [value]="'questioning'" formControlName="isQuestioning"> &nbsp;Questioning
            </label>
          </div>
          <div class="form-check">
            <div class="row">
              <div class="col-2">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" [value]="'other'" formControlName="isOther"> &nbsp; Other
                </label>
              </div>
              <div class="col-6" *ngIf="demographicsForm?.get('isOther')?.value">
                <input type="text" class="form-check-input" placeholder="Please explain" formControlName="lgbtqOtherType">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label for="demographics_COR">COR</label>
        <select class="custom-select form-control" formControlName="cor" [compareWith]="compare">
          <option [ngValue]="''">Select COR</option>
          <option *ngFor="let r of responses?.counties" [ngValue]="r">{{r.Name || r.name}}</option>
        </select>
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="demographics.COS">COS</label>
        <select class="custom-select form-control" formControlName="cos" [compareWith]="compare">
          <option [ngValue]="''">Select COS</option>
          <option *ngFor="let s of responses?.counties" [ngValue]="s">{{s.Name || s.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label class="col-form-label">Do you have health insurance?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="true" formControlName="hasHealthInsurance"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="false" formControlName="hasHealthInsurance" [checked]="false">              No
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label class="col-form-label">Do you have Medicaid?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="true" formControlName="hasMedicaid"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="false" formControlName="hasMedicaid">              No
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row bg-transparent">
      <div class="col-12">
        <label class="col-form-label">Do you have language barriers or need an interperter?</label>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="true" formControlName="hasLanguageBarriers"> Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" [value]="false" formControlName="hasLanguageBarriers" [checked]="false">              No
            </label>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="demographicsForm?.get('hasLanguageBarriers')?.value">
        <label for="inputAddress2">Please explain:</label>
        <textarea class="form-control" id="inputAddress2" placeholder="Explain Needs for an interpreter" rows="3" formControlName="languageBarriersText">
        </textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-md-6">
        <label for="demographics.corWorker">COR MDCPS Worker</label>
        <select class="custom-select form-control" formControlName="corWorker" [compareWith]="compare">
          <option [ngValue]="''">Choose COR MDCPS Worker</option>
          <option *ngFor="let worker of responses?.allWorkers" [ngValue]="worker">{{worker.firstName + ' ' + worker.lastName}}</option>
        </select>
      </div>
      <div class="col-12 col-md-6 pt-2 pt-md-0">
        <label for="transitionNavigator">Assigned Transition Navigator</label>
        <select class="custom-select form-control" formControlName="navigator" [compareWith]="compare">
          <option [ngValue]="''">Choose Transition Navigator</option>
          <option *ngFor="let worker of responses?.navWorkers" [ngValue]="worker">{{worker.firstName + ' ' + worker.lastName}}</option>
        </select>
      </div>
    </div>
  </div>
</mdcps-base-form>