.mdcps-demographics-container {
    .row {
        padding: 8px 0;

        .mdcps-address-list {
            background-color: #e9ecef;
            opacity: 1;
            padding: 35px 25px 10px 25px;
            border: 1px solid #ced4da;
        }
    }
}