<form [formGroup]="baseFormGroup" (ngSubmit)="onNext(baseFormGroup, baseFormGroup.value)" *ngIf="baseFormGroup">
  <ng-content></ng-content>
  <div *ngIf="config" class="form-group mdcps-btn-group">
    <button [hidden]="!config.prevBtn" class="btn btn-outline-primary pull-left" type="button" (click)="onPrevious($event)">Previous: {{config?.previousBtnLabel}}</button>
    <button [hidden]="!config.nextBtn" class="btn btn-outline-primary pull-right" type="submit">Next: {{config?.nextBtnLabel}}</button>
  </div>
</form>