.mdcps-sidebar-container {
    height: 100%;

    .mdcps-sidebar-nav {
        width: 226px;
        background-color: #3f4d50;
        box-shadow: 3px 0 6px rgba(0,0,0,.24);
        -webkit-box-shadow: 3px 0 6px rgba(0,0,0,.24);
        .mdcps-sidebar-nav-list {
            color: #bdbdbd;

            .mdcps-toggle-tabs.active {
                color: #fff;
                background: #9ca51cb0;
            }
        }
    }
    .mdcps-sidebar-content {
        padding-left: 20px;

        .mdcps-sidebar-control {
            padding-top: 15px;
            padding-right: 15px;
        }
    }

    .mat-list .mat-list-item,
    .mat-nav-list .mat-list-item,
    .mat-selection-list .mat-list-item {
        font-size: 14px !important;
    }
}

