.sidebar-container {
    height: 100%;

    .sidebar-nav {
        width: 200px;
        background-color: #3f4d50;
        box-shadow: 3px 0 6px rgba(0,0,0,.24);
        -webkit-box-shadow: 3px 0 6px rgba(0,0,0,.24);
        .sidebar-nav-list {
            color: #bdbdbd;
        }
    }
    .sidebar-content {
        padding-left: 20px;

        .sidebar-control {
            padding-top: 15px;
            padding-right: 15px;
        }
    }
}

