<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidebar-nav"
  [fixedInViewport]="false" [fixedTopGap]="true"[fixedBottomGap]="true">
    <mat-nav-list class="sidebar-nav-list">
      <a mat-list-item class="header-toggle-tabs" *ngFor="let tab of tabs" [routerLink]="('/dashboard' + tab.navigationUrl)">
        <span mat-line>{{tab.label}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidebar-content">
    <div class="sidebar-control">
      <button mat-button class="btn btn-light"(click)="sidenav.toggle()">
       <mat-icon mat-list-icon aria-hidden="true">
         swap_horiz
        </mat-icon>
        <span mat-line cdk-visually-hidden>Toggle Sidebar</span>
      </button>
      <mat-divider></mat-divider>
    </div>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>