/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
$fa-font-path : '../node_modules/font-awesome/fonts';

@import '~bootstrap/scss/bootstrap';
@import "material/material-mdcps-theme";
@import './../node_modules/font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// import style overrides
@import './global-overrides';
@import './vendor-overrides';

.bg-white {
    .mat-sidenav-container {
        background-color: #fff !important;
    }
}

.mdcps-container {
    input,
    select,
    textarea {
        border-radius: 0px !important;
    }

    .row {
        margin-bottom: 5px;
    }
}

.mdcps-input {
    border-radius: 0;
}

.mat-toolbar.mat-primary {
    background: #79801a !important;
    // background: #28a745 !important;
}

.mdcps-youth-appr-container {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    background: white;
    margin: 20px;

    .mdcps-youth-appr-header {
        padding: 20px;
        font-size: 17px;
        font-weight: 600;
        color: rgba(0,0,0,.54);
        background: rgba(0, 0, 0, 0.06);
        border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    }
    .mdcps-youth-appr-wrapper {
        padding: 30px;

        .mdcps-input {
            line-height: 2.2;
        }
        .mdcps-text {
            padding-top: 6px;
        }
        .mdcps-label {
            font-variant: all-small-caps;
            font-weight: 500;
        }
    }
}

.mdcps-modal {
    .modal-header {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
        border-bottom: 1px solid #ddddddeb;
    }
    .modal-footer {
        border-top: 1px solid #ddddddeb;
    }
    .modal-content {
        border-radius: 0;
    }
    .modal-body {
        .mdcps-helper-text {
            font-size: 14px;
            padding: 6px 0 0 0;
        }
    }
    .modal-header,
    .modal-footer {
        background: #dddddda8;

        .btn {
            line-height: 1;
            border-radius: 0;
            border-top-width: 3px;
            border-top-style: inset;
        }
        .btn-link {
            color: rgba(0, 0, 0, 0.54);
        }
    }
}

.mdcps-fixed-col {
    .mdcps-docs-reason {
        padding-top: 20px;
    }

    .mat-slide-toggle-bar {
        width: 65px;
        height: 20px;
        border-radius: 0px;
    }

    .mat-slide-toggle-thumb {
        height: 26px;
        width: 12px;
        border-radius: 0px;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
        transform: translate3d(53px,0,0);
    }
}