.mdcps-parenting-container {
    .row {
        padding: 8px 0;
    }
    .form-check-input-inline {
        display: inline;
    }
    .mat-raised-button {
        background-color: #428e00e6 !important;
        color: #fff;
        margin-bottom: 5px;
        float: right;
    }
    .mat-button {
        background-color: #c90909e6 !important;
        color: #fff;
    }
}